body{
    background-image: url("../images/prism.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    /* height: 100vh; */
}


nav{
    /* margin-bottom: 15px; */
    border-bottom: solid 1.5px #1B86C1;
    background-color: #f3f3f3;
}

/* Used for navbar background */
.bg-light{
    background-color: #f3f3f3;
}

header{
    text-align: center;
}

main{
    padding: 15px;
    max-width: 960px;
    background-color: #e9e9e9;
    border: solid 1px #dddddd;
    margin-top: 10px;
    margin-bottom: 100px;
    border-radius: 3px;
}

h1, h2, h3, h4{
    color: #2055AA;
    font-family: 'Josefin Slab', serif;
    /* font-family: 'Georgia', Times, Times New Roman, serif; */
}

a{
    color: #2055AA;
}

a:hover{
    color: #1AA9B7;
    text-decoration: none;
}

.header-main{
    border-bottom: solid 1px #1B86C1;
    margin-bottom: 20px;
}

/* Bio Page */

#profile-pic{
    max-width: 300px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 2px;
}


/* Portfolio Page */
#portfolio{
    max-width: 700px;
}

.proj-box{
    margin-top: 15px;
    margin-bottom: 15px;
    /* max-width: 250px; */
}

/* .proj-pic{
    max-width: 200px;
} */

.proj-pic.card-img-top{
    height: 150px;
    object-fit: cover;
}

.proj-link{
    width: 100%;
    max-width: 200px;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: #4aaaab;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
}

.card-body{
    background-color: rgb(224, 224, 224);
    border: solid 1px silver;
}

.proj-box .card-body{
    height: 140px;
}

/* .proj-box{
    border: solid 1px #1B86C1;
} */

/* Contact Page */

#contact{
    max-width: 500px;
}

.btn{
    background: #1B86C1;
    border: 0 none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #ffffff;
}

footer {
    text-align: center;
    font-size: 0.75em;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #2b2727;
    color: #858383;
    border-top: solid 2px #1B86C1;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media screen and (max-width: 980px){
    .header-main{
        border-bottom: solid 1px #1B86C1;
        margin-bottom: 35px;
    }
    
    #profile-pic{
        max-width: 200px;
        margin: auto;
        margin-bottom: 15px;
        display: block;
    }

    .proj-box{
        max-width: 350px;
        margin: auto;
        margin-bottom: 15px;
        display: block;
    }
}